:root{
    --bar-width:2rem;
    --bar-height:.3rem;
    --bar-gap:.3rem;
    --menu-animation-time: 500ms;

    
    background-color: var(--bg-cyan-50);

    /* colors */
    --bg-cyan-50: rgb(236, 254, 255);
    --darkblue: rgb(50, 66, 109);
    --teal:rgb(20, 209, 183);
    --slate: rgba(100, 116, 159,.7);

    /* font sizes */

    /* xs */
    --fs-xs: 0.75rem;
    /* sm */
    --fs-sm: 0.875rem;
    /* base*/
    --fs-base: 1rem;
    /* lg */
    --fs-lg: 1.125rem;
    /* xl */
    --fs-xl: 1.25rem;
    /* 2xl*/
    --fs-2xl: 1.5rem;
    /* 3xl */
    --fs-3xl: 1.875rem;
    /* 4xl */
    --fs-4xl: 2.25rem;
    /* 5xl */
    --fs-5xl: 3rem;
    /* 6xl */
    --fs-6xl: 3.75rem;
    /* 7xl */
    --fs-7xl: 4.5rem;
    /* 8xl */
    --fs-8xl: 6rem;
    /* 9xl */
    --fs-9xl: 8rem;
}

body{
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-cyan50);
    background-image:linear-gradient(180deg, rgba(0, 128, 128,.3) 20vh, rgb(216, 254, 255) 100vh) ;
    /* background-image: linear-gradient(45deg,rgba(247, 200, 224,.8), rgba(151, 222, 255,.8)); */
}

/* Header */

.header{
    background-color: transparent;
    display: flex;
    height: 100px;
    padding: 1rem 10%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    margin: auto 0;
    width: 120px;
    height: fit-content;
}

.input{
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 7%;
    z-index: 3;
    cursor: pointer;
    visibility: hidden;
    appearance: none;
}

.bars{
    position: relative;
    right: 0.5%;
    width: 2rem;
    height: .3rem;
    background-color: var(--teal);
    border-radius: .15rem;
    visibility: hidden;
    transition: none;
    z-index: 2; 
}

.bar1{
    position: absolute;
    transform: translateY(-.65rem);
    height: .3rem;
    width: 2rem;
    border-radius: .15rem;
    background-color: var(--teal);
}

.bar3{
    position: absolute;
    transform: translateY(.65rem);
    height: .3rem;
    width: 2rem;
    border-radius: .15rem;
    background-color: var(--teal);
}

.bar2{
    position: absolute;
    height: .3rem;
    width: 2rem;
    border-radius: .15rem;
    background-color: var(--teal);
}
input:checked ~ .bars{
    rotate: -90deg;
}

input:checked ~ .bars .bar1{
    rotate: 38deg;
    width: 80%;
}

input:checked ~ .bars .bar2{
    transform: translateX(-10px);
}

input:checked ~ .bars .bar3{
    rotate: -38deg;
    width: 80%;
}

.input:checked ~ .navbar{
    transform: translateY(0%);
}


.navbar{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 500ms ease;
}

.nav-link{
    text-decoration: none;
    font-size: var(--fs-sm);
    padding: .7em 1.2em;
    border-radius: 2em;
    position: relative;
    transition: transform 150ms ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--darkblue);
    cursor: pointer;
}

.nav-link:hover{
    background-color: var(--teal);  
    color: white; 
}




/* .search{
    display: flex;
    gap: .5rem;
    background-color: var(--teal);
    border: none;
    outline: none;
    padding: .7em 1em;
    font-size: 1rem;
    border-radius: 2rem;
    position: relative;
    transition: transform 150ms ease;
    cursor: pointer;
}

.search-box{
    display: none;
    border: none;
    border-radius: 1rem;
    margin: .5em 0 .5em .5em;
    height: 1.3rem;
    position: relative;
    background: rgba(255,255,255,.8);
    width: 15rem;
}
::placeholder{
    color:rgb(50, 66, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button{
    width: .8rem;
    margin: .5em .5em .5em 0;
    background-color: white;
    height: 1.3rem;
    width: 1.3rem;
} */


/* Hero */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}
.hero-text{
    font-size: var(--fs-4xl);
    padding-left: 11%;
    font-family: 'Clash Grotesk', sans-serif;
    letter-spacing: 2px;
    line-height: 1.2;
}

span{
    color: transparent;
    position: relative;
}

.uncover::before{
    content: "Uncover.";
    position: absolute;
    color: var(--slate);
    overflow: hidden;
    width: 0%;
    height: 100%;
    animation: text-reveal 600ms linear forwards;
}

.inspire::before{
    content: "Inspire.";
    position: absolute;
    color: var(--slate);
    overflow: hidden;
    width: 0%;
    height: 100%;
    animation: text-reveal 600ms linear 600ms forwards;
}

.empower::before{
    content: "Empower.";
    position: absolute;
    color: var(--slate);
    overflow: hidden;
    width: 0%;
    height: 100%;
    animation: text-reveal 600ms linear 1200ms forwards;
}

@keyframes text-reveal { 
    to{
        width: 100%;
    }
}

.hero-banner{
    padding: 5rem 11% 5rem 0%;
}

.banner{
    width: 35rem;
}

.cta{
    background-color: var(--teal);
    color: var(--darkblue);
    border: none;
    margin-top: var(--fs-xs);
    font-size: var(--fs-lg);
    padding: .7em 1.2em;
    border-radius: 2em;
    position: relative;
    transition: transform 150ms ease;
}

.cta::before,
.cta::after {
    content: "";
    position: absolute;
    background-color: var(--teal);
    border-radius: inherit;
    opacity: .3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 150ms ease;
    z-index: -1;
}

.cta:hover {
    transform: translate(-3px, -3px);
}

.cta:hover::before {
    transform: translate(3px, 3px);
}

.cta:hover::after {
    transform: translate(6px, 6px);
}

/* Featured */
.featured-title-con{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-title{
    display: inline-block;
    color: var(--darkblue);
    font-size: var(--fs-4xl);
    font-family: 'Clash Grotesk', sans-serif;
    letter-spacing: 2px;
    line-height: 1.2;
}

.featured-container{
    display: flex;
    justify-content: center;
    margin:0 10%;
    padding: 1rem 5rem 6rem;
    height: fit-content;
    /* background-color: #efefef; */
    display: grid;
    grid-template-columns: 30rem;
}

.card{
    position: relative;
    margin: 10% auto;
    width: clamp(18rem, 16.1579rem + 9.2105vw, 25rem);
    aspect-ratio: 3/4;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0 0 0 /.1);
}

.image-con{
    padding:4% 0;
    background-color: rgba(64, 112, 244,.9);
    height: 40%;
    width: 100%;
    border-radius: inherit;
}
.image{
    box-sizing: border-box;
    display: block;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    border: 5px solid white;
    padding: 6px;
}

.content-con{
    position: absolute;
    height: 54%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #445566;
    border-radius: inherit;
    bottom: 0;
}
.card-title{
    padding:5% 5% 0;
    font-size: clamp(1rem, 0.95rem + 0.26vw, 1.2rem);
    margin: 0;
}
.card-text{
    padding: 0 10% 0%;
    font-size: clamp(0.9rem, 0.8474rem + 0.2632vw, 1.1rem);
}
.card-button{
    font-size: clamp(0.9rem, 0.8474rem + 0.2632vw, 1.1rem);
    background-color: rgba(64, 112, 244,.9);
    color: white;
    text-decoration: none;
    border-radius: .8em;
    padding: .3em .8em;
}




/* Footer */
.footer{
    background-color: rgba(0, 128, 128,.05);
    text-align: center;
    margin: 0;
    padding: 2rem 0 1rem;
}

.footer-logo{
    width:5rem;
}

.footer-p{
    color: var(--darkblue);
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-mail a{
    padding: 0;
    text-decoration: none;
}
.mail-icon{
    fill: var(--teal);
    position: relative;
    top: 10px;
    width: 2rem;
}

.copyright{
    font-size: .9rem;
    padding-top: 2rem;
}


/* Media Queries */

/* 2xl purple*/
@media (max-width: 1535px) {
    .header{
        padding: 1rem 9%;
    }
    .hero-text{
        font-size: var(--fs-3xl);
        line-height: 1.1;
        padding-left: 10%;
    }
    .hero-banner{
        padding-right: 10%;
    }
    .banner{
        width: 30rem;
    }
    .cta{
        font-size: var(--fs-base);
        margin-top: 2.2rem;
    }
    .contact-btn{
        font-size: var(--fs-base);
    }
}

/* xl indigo*/
@media (max-width: 1280px) {
    .header{
        height: 80px;
        padding: .9rem 8%;
    }
    .logo{
        width: 100px;
    }
    .nav-link{
        font-size: .75rem;
    }
    .hero-text{
        font-size: 1.7rem;
        letter-spacing: 0;
        padding-left: 9%;
    }
    .hero-banner{
        padding-right: 9%;
    }
    .banner{
        width: 25rem;
    }
    .cta{
        font-size: var(--fs-sm);
        margin-top: .5rem;
    }

    .footer-logo{
        width: 4rem;
    }
    .footer-p{
        font-size: 1rem;
    }
    .copyright{
        font-size: .8rem;
    }

}

/* lg blue*/
@media (max-width: 1024px) {
    .header{
        padding: 0.8rem 7%;
    }
    .hero-text{
        font-size: 1.5rem;
        padding-left: 8%;
        line-height: 1;
    }
    .hero-banner{
        padding-right: 8%;
    }
    .banner{
        width: 20rem;
    }
    .cta{
        margin-top: 0;
    }
    .card{
        /* width: 20rem; */
    }
    
}

/* md green*/
@media (max-width: 768px) {
    .header{
        height: 70px;
    }
    .logo{
        width: 90px;
    }
    .navbar{
        width: 45%;
    }
    .banner{
        width: 17.5rem;
    }
    .hero-text{
        font-size: 1.25rem;
    }
    .cta{
        font-size: 0.75rem;
    }
    .footer-logo{
        width: 3.5rem;
    }
    .footer-p{
        font-size: .9rem;
    }
    .copyright{
        padding-top: 1.5rem;
        font-size: .75rem;
    }
    .mail-icon{
        width: 1.5rem;
        top: 8px;
    }
}

/* sm yellow*/
@media (max-width: 640px) {
    .logo{
        width: 75px;
    }
    .input{
        visibility: visible;
    }
    .bars{
        visibility: visible;
    }
    .hero{
      flex-direction: column;
    }
    .hero-banner{
      padding: 2rem 1.5rem 2rem 0;
      order: -1;
    }
    .hero-text{
      font-size: 1.75rem;
      text-align: center;
      padding:0;
    }
    .cta{
        font-size: 1rem;
    }
    .navbar{
        transform: translateY(-150%);
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgb(195, 246, 245);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        padding: 5rem 0 1.5rem;
        border-radius: 0 0 0 .5rem;
        box-shadow:
        100px 0 0 rgb(195, 246, 245),
        -10px 0 20px rgba(0,0,0,.1);
        z-index: 1;
    }
    .nav-link{
        margin: 2rem 1rem 1rem 2rem;
        padding-right: 6rem;
    }
    .menu{
        margin: 2rem;
        align-self: flex-end;
        visibility: visible;
    }

}

/* xs orange*/
@media (max-width: 475px) {   

}